<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Add a record</h1>

<form th:action = "@{/admin/add}" method ="post" th:object = "${employee}">
    Emp_no: <input type="text" id="empno" name="emp_no" value="10001"><br>
    First_name: <input type="text" id="fname" name="first_name" value="abc"><br>
    Last_name: <input type="text" id="lname" name="last_name" value="xyz"><br><br>
    <!--birth_date: <input type="date" id="bdate" name="birth_date" value="2020-06-01"><br><br>-->
    Gender: <input type="text" id="gender" name="gender" value="M"><br><br>
    <!--hire_date: <input type="date" id="hdate" name="hire_date" value="2020-06-01"><br><br>-->
    <input type="submit" value="Submit">
</form>

</body>
</html>