<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/singupsubmit" method="get">
    Employee No.:<input type="text" id="no" name="no" placeholder="0-9999"><br>
    Birthday:<input type="text" id="bday" name="bday" placeholder="YYYY/MM/DD"><br>
    First Name:<input type="text" id="fname" name="fname"><br>
    Last Name:<input type="text" id="lname" name="lname"><br>
    Gender:
    <input type="radio" id="F" name="gender" value="F">Female
    <input type="radio" id="M" name="gender" value="M">Male<br>
    <input type="submit" value="Submit">

</form>
</body>
</html>